name: Generate Pocast Feeds
on : [push]
jobs: 
  build: 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name : Run Feed Generator
        uses: Arp369/podcast-generator@master
